manifest {
    name = 'AliNe'
    author = 'Jacques Dainat'
    homePage = 'https://github.com/Juke34/AliNe'
    description = 'Nextflow alignment pipeline'
    mainScript = 'aline.nf'
    nextflowVersion = '>=22.04.0'
    version = '0.1'
}


// default parameters
params {
    // to store general information about pipeline execution
    pipeline_report="pipeline_report"
    monochrome_logs = false
}

profiles {

    itrop {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '$SNIC_TMP'
        }
        includeConfig "$baseDir/config/hpc.config"
        singularity.enabled = true
        // singularity.envWhitelist = '' // Comma separated list of environment variable names to be included in the container environment.
        includeConfig "$baseDir/config/softwares.config"
        scratch = '/scratch'
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        includeConfig "$baseDir/config/softwares.config"
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/softwares.config"
    }
    local {
        includeConfig "$baseDir/config/ressources/local.config"
    }
    test_illumina_paired {
        includeConfig "$baseDir/profiles/test_illumina_paired.config"
    }
    test_illumina_single {
        includeConfig "$baseDir/profiles/test_illumina_single.config"
    }
    test_ont {
        includeConfig "$baseDir/profiles/test_ont.config"
    }
    test_pacbio {
        includeConfig "$baseDir/profiles/test_pacbio.config"
    }
}

resume = true

timeline {
    enabled = true
    file = "${params.pipeline_report}/execution_timeline_${new Date().format('yyyyMMddHHmm')}.html"
}

report {
    enabled = true
    file = "${params.pipeline_report}/execution_report_${new Date().format('yyyyMMddHHmm')}.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report}/execution_trace_${new Date().format('yyyyMMddHHmm')}.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report}/pipeline_dag.svg"
}
