process {
    cpus = 1
    time = '1h'
    maxForks = 20
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withLabel: 'bash' {
        cpus = 1
        time = '1h'
    }
    withLabel: 'bbmap' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'bowtie' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'bowtie2' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'bwa' {
        cpus = 16
        time = '4h'
    }
    withName: 'fastp' {
        cpus = 16
        time = '2h'
    }
    withLabel: 'fastqc' {
        cpus = 8
        time = '1h'
    }
    withLabel: 'hisat2' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'kallisto' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'graphmap2' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'minimap2' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'multiqc' {
        cpus = 8
        time = '1h'
    }
    withLabel: 'mummer4' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'ngmlr' {
        cpus = 16
        time = '1h'
    }
    withLabel: 'novoalign' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'salmon' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'samtools' {
        cpus = 16
        time = '2h'
    }
    withLabel: 'seqkit' {
        cpus = 8
        time = '4h'
    }
    withLabel: 'seqtk' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'star' {
        cpus = 16
        time = '4h'
    }
    withLabel: 'subread' {
        cpus = 16
        time = '4h'
    }
}
