process {
    cpus = 1
    time = '1h'
    maxForks = 8
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withLabel: 'fastqc' {
        cpus = 2
        time = '6h'
    }
    withName: 'fastp' {
        cpus = 2
        time = '2d'
    }
    withLabel: 'hisat2_index' {
        cpus = 4
        time = '1h'
    }
    withLabel: 'hisat2' {
        cpus = 4
        time = '4d'
    }
    withLabel: 'mummer4' {
        cpus = 4
        time = '4d'
    }
    withLabel: 'samtools' {
        cpus = 2
        time = '4d'
    }
    withLabel: 'graphmap2' {
        cpus = 2
        time = '4d'
    }
}
