/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    reads = "$baseDir/test/nanopore"
    genome = "$baseDir/test/yeast.fa"
    read_type = "nanopore"
    outdir = "results"
    aligner = 'novoalign'
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}