/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    outdir = "alignment_results_csv"
    reads = "$baseDir/test/yeast.csv"
    reference = "$baseDir/test/yeast.fa"
    aligner = 'bbmap,bowtie2,bwamem,graphmap2,hisat2,last,minimap2,ngmlr,nucmer,subread'
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}