/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    outdir = "alignment_results_ont"
    reads = "$baseDir/test/nanopore"
    genome = "$baseDir/test/yeast.fa"
    read_type = "ont"
    aligner = 'bowtie2,bwamem,graphmap2,hisat2,kallisto,last,minimap2,ngmlr,nucmer,star,subread,sublong'
    library_type = 'U'
    star_options = '--outFilterMismatchNmax 100 --seedSearchLmax 30   --seedSearchStartLmax 30 --seedPerReadNmax 100000   --seedPerWindowNmax 100 --alignTranscriptsPerReadNmax 100000 --alignTranscriptsPerWindowNmax 10000'
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}