/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    reads = "$baseDir/test/pacbio/"
    genome = "$baseDir/test/yeast.fa"
    read_type = "pacbio"
    outdir = "results"
    aligner = 'star,graphmap2,bwamem,bwasw,tophat2,minimap2'
    star_options = '--outFilterMismatchNmax 100 --seedSearchLmax 30   --seedSearchStartLmax 30 --seedPerReadNmax 100000 --seedPerWindowNmax 100 --alignTranscriptsPerReadNmax 100000 --alignTranscriptsPerWindowNmax 10000'
    star_index_options = '--genomeSAindexNbases 9'
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}