/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    outdir = "alignment_results_illumina_paired"
    reads = "$baseDir/test/illumina/"
    reference = "$baseDir/test/yeast.fa"
    aligner = 'bbmap,bowtie,bowtie2,bwaaln,bwamem,bwamem2,bwasw,graphmap2,hisat2,last,minimap2,ngmlr,nucmer,salmon,star,subread,sublong'
    star_options = "--genomeSAindexNbases 9" // the default 14 is too large for the genome size=1351857
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}