/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    outdir = "alignment_results_illumina_single"
    reads = "$baseDir/test/illumina/"
    reference = "$baseDir/test/yeast.fa"
    params.read_type = "short_single"
    aligner = 'bbmap,bowtie,bowtie2,bwaaln,bwamem,bwamem2,bwasw,graphmap2,hisat2,kallisto,last,minimap2,ngmlr,nucmer,salmon,star,subread,sublong'
    trimming_fastp = true
    fastqc = true
    samtools_stats = true
    salmon_options ="--minAssignedFrags 1"
    star_options = "--genomeSAindexNbases 9" // the default 14 is too large for the genome size=1351857
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}