/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    reads = "$baseDir/test/illumina/"
    genome = "$baseDir/test/yeast.fa"
    params.read_type = "short_single"
    aligner = 'bbmap,bowtie2,bwaaln,bwamem,bwasw,graphmap2,hisat2,minimap2,nucmer,star,subread,tophat2,ngmlr'
    trimming_fastp = true
    star_options = "--genomeSAindexNbases 9" // the default 14 is too large for the genome size=1351857
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}