/*
    Test profile for AliNe

    Usage:
        nextflow run -profile docker,test aline.nf
*/
params {
    outdir = "alignment_results_remote_illumina_paired"
    reads = "https://github.com/Juke34/AliNe/raw/refs/heads/main/test/illumina/yeast_R1.fastq.gz,https://github.com/Juke34/AliNe/raw/refs/heads/main/test/illumina/yeast_R2.fastq.gz"
    reference = "https://raw.githubusercontent.com/Juke34/AliNe/refs/heads/main/test/yeast.fa"
    aligner = 'bowtie2'
    multiqc_config = "$baseDir/config/multiqc_conf.yml"
}