process {
    withLabel: 'bbmap' {
        container = 'quay.io/biocontainers/bbmap:39.08--h92535d8_0'
    }
    withLabel: 'bowtie2' {
        container = 'quay.io/biocontainers/bowtie2:2.5.1--py38he00c5e5_2'
  	}
    withLabel: 'bwa' {
        container = 'quay.io/biocontainers/bwa:0.7.17--he4a0461_11'
    }
    withLabel: 'fastp' {
        container = 'quay.io/biocontainers/fastp:0.23.4--h125f33a_5'
    }
    withLabel: 'fastqc' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withLabel: 'hisat2' {
        container = 'quay.io/biocontainers/hisat2:2.2.1--hdbdd923_6'
    }
    withLabel: 'graphmap2' {
        container = 'quay.io/biocontainers/graphmap:0.6.3--hdcf5f25_4'
    }
    withLabel: 'minimap2' {
        container = 'quay.io/biocontainers/minimap2:2.26--he4a0461_1'
    }
    withLabel: 'mummer4' {
        container = 'quay.io/biocontainers/mummer4:4.0.0rc1--pl5321hdbdd923_6'
    }
    withLabel: 'ngmlr' {
       container = 'quay.io/biocontainers/ngmlr:0.2.7--hdcf5f25_7'
    }
    withLabel: 'novoalign' {
       container = 'quay.io/biocontainers/novoalign:4.02.02--h82c745c_4'
    }
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.3.1--h0cf4675_11'
    }
    withLabel: 'seqkit' {
        container = 'quay.io/biocontainers/seqkit:2.8.2--h9ee0642_1'
  	}
    withLabel: 'star' {
        container = 'quay.io/biocontainers/star:2.7.7a--0'
    }
    withLabel: 'subread' {
        container = 'quay.io/biocontainers/subread:2.0.6--he4a0461_2'
    }
    withName: 'multiqc' {
        container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
    }
}